/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
	font-size: 16px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	background-color: rgba(40, 42, 54, 0.4);
    border-bottom: 1px solid rgba(40, 42, 55, 0.1);
    border-radius: 0px;
	color: #f8f8f2;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
#workspaces {
    background-color: inherit;
}

#workspaces button:hover {
    background: inherit;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */
tooltip {
  background: #282a36;
  border: 1px solid #bd93f9;
  border-radius: 10px;
}

tooltip label {
  color: #f8f8f2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */
#window {
    color: #f8f8f2;
	padding: 4px 10px;
}

#custom-packages {
    color: #ff79c6;
	padding: 4px 10px;
}

#memory {
	color: #ffb86c;
	padding: 4px 10px;
}

#clock {
    color: #50fa7b;
	padding: 4px 10px;
}

#cpu {
	color: #8be9fd;
	padding: 4px 10px;
}

#disk {
	color: #50fa7b;
	padding: 4px 10px;
}

#battery {
    color: #f8f8f2;
	padding: 4px 10px;
}

#network {
    color: #f8f8f2;
	padding: 4px 10px;
}

#tray {
	padding: 2px 10px;
}
