configuration {
	modi:					"run,filebrowser,drun";
	terminal:				"alacritty";
    show-icons:				true;
    icon-theme:				"Reversal-purple";
    display-drun:			"Apps";
	drun-display-format:	"{icon} {name}";
	display-drun:			"   Apps ";
    display-run:			"   Run ";
    display-filebrowser:	"   File ";
    display-Network:		" 󰤨  Network";
    disable-history:		false;
	sidebar-mode:			true;
}

@import "~/.config/rofi/catppuccin.rasi"
